- add_to_breadcrumbs _("Iterations"), project_iterations_path(@project)
- breadcrumb_title params[:id]
- page_title _("Iteration")

- if Feature.enabled?(:project_iterations, @project.group)
  .js-iteration{ data: { full_path: @project.group.full_path,
    can_edit: can?(current_user, :admin_iteration, @project).to_s,
    iteration_id: params[:id],
    preview_markdown_path: preview_markdown_path(@project) } }
